body{
    background-image: url('../img/portal.jpg');
    background-size: cover;
}
.container{
    font-size: 13px;
    background-color: rgb(224, 224, 224);
    width: 370px;
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
    border: 3px solid  gray;
    box-shadow: -1px 4px 101px 13px rgba(0,0,0,1);
-webkit-box-shadow: -1px 4px 101px 13px rgba(0,0,0,1);
-moz-box-shadow: -1px 4px 101px 13px rgba(0,0,0,1);
}
.container button{
    background-color: rgb(248, 123, 123);
    float: right;
    font-size: 30px;
    border-bottom-left-radius: 40%;
}
.container img{
    margin-bottom: 20px;
    border: 4px solid rgb(88, 88, 88);
    box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
-webkit-box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
-moz-box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
}
.container ul{
    margin-top: 33px;
    text-align: left;
    font-size: 20px;
    list-style-position: inside;
}
.id{
    float: left;
    background-color: rgb(58, 99, 58);
    font-size: 30px;
    margin-top: 0;
    padding: 10px;
    border-bottom-right-radius: 40%;
    box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
-webkit-box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
-moz-box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
}