body{
    background-image: url('../img/portal.jpg');
    background-size: cover;
}
.container{
    font-size: 13px;
    background-color: rgb(224, 224, 224);
    width: 370px;
    display: inline-block;
    margin: 20px;
    margin-top: 50px;
    border: 3px solid  gray;
    box-shadow: 0px 0px 31px 28px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 0px 31px 28px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 0px 31px 28px rgba(0,0,0,0.76);
}
#xboton{
    background-color: rgb(248, 123, 123);
    float: right;
    font-size: 30px;
    border-bottom-left-radius: 40%;
    transition: .3s;
}
#xboton:hover{
    cursor: pointer;
    background-color: red;
}
.container img{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid rgb(88, 88, 88);
    box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
-webkit-box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
-moz-box-shadow: 0px 1px 16px 9px rgba(129,129,129,1) ;
}
.container ul{
    margin-top: 33px;
    text-align: left;
    font-size: 20px;
    list-style-position: inside;
}
#link{
    background-color: yellow;
    box-shadow: 0px 0px 7px 5px rgba(243,193,42,0.76) inset;
-webkit-box-shadow: 0px 0px 7px 5px rgba(243,193,42,0.76) inset;
-moz-box-shadow: 0px 0px 7px 5px rgba(243,193,42,0.76) inset;
    position: absolute;
    margin-left: 130px;
    margin-top: -11px;
    width: 50px;
    color: black;
    text-decoration: none;
    font-size: 23px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    transition: .3s;
}
#link:hover{
    cursor: pointer;
    background-color: rgba(243,193,42,0.76);
    box-shadow: 0px 0px 7px 5px yellow inset;
-webkit-box-shadow: 0px 0px 7px 5px yellow inset;
-moz-box-shadow: 0px 0px 7px 5px yellow inset;
    
}
.id{
    margin-top: 0px;
    float: left;
    background-color: rgb(58, 99, 58);
    font-size: 30px;
    padding: 10px;
    border-bottom-right-radius: 40%;
    box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
-webkit-box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
-moz-box-shadow: 0px 1px 16px 9px rgb(119,255,53) inset;
    transition: .3s;
}
.id:hover{
    background-color: rgb(119,255,53,1);
    box-shadow: 0px 0px 11px 4px rgb(35, 77, 35) inset;
-webkit-box-shadow: 0px 0px 11px 4px rgb(35, 77, 35) inset;
-moz-box-shadow: 0px 0px 11px 4px rgb(35, 77, 35) inset;
}
.fase{
    position: absolute;
    width: 370px;
}