.nav{
    background-color: rgb(182, 182, 182);
    height: 70px;
    box-shadow: -1px 7px 80px 26px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 7px 80px 26px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 7px 80px 26px rgba(0,0,0,0.75);
}

.NavLink{
    font-size: 20px;
    border: 3px solid rgb(35, 77, 35);
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    background-color: rgba(69, 121, 69, 0.75);
    color: black;
    text-decoration: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: .3s;
    box-shadow: 0px -3px 9px 7px rgb(119,255,53) inset;
-webkit-box-shadow: 0px -3px 9px 7px rgb(119,255,53) inset;
-moz-box-shadow: 0px -3px 9px 7px rgb(119,255,53) inset; 
}
.NavLink:hover{
    box-shadow: 0px -3px 9px 7px rgba(58,99,58,0.75) inset, -1px 7px 72px 1px rgba(119,255,53,0.75);
-webkit-box-shadow: 0px -3px 9px 7px rgba(58,99,58,0.75) inset, -1px 7px 72px 1px rgba(119,255,53,0.75);
-moz-box-shadow: 0px -3px 9px 7px rgba(58,99,58,0.75) inset, -1px 7px 72px 1px rgba(119,255,53,0.75);
    background-color: rgb(119,255,53);
}
#home{
    margin-left: 20px;
    float: left;
}
#about{
    margin-right: 20px;
    float: right;
}